body { 
    font-family: "Geneva";
    color:dimgrey;
}

a { 
	text-decoration: none; 
    color: darkgrey;
}

a:hover { 
	text-decoration: underline; 
}

#footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
}

.c-item{
    height: 480px;
}

.c-img{
    height: 100%;
    object-fit: cover;
}
