<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        Sistema Calcio - Homepage
    </title>
    <link rel="stylesheet" href="/css/stile.css?version=2" />
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script defer th:src="@{/js/bootstrap.bundle.min.js}" crossorigin="anonymous"></script>
</head>
<body xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">

<!-- NAVBAR SQUADRA -->
    <header>
        <div th:replace="fragments/navbar :: navbar"></div>
    </header>

    <div class="container-fluid">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 text-center p-3">
                <a class="btn btn-dark" href="/squadra/get-all-squadra-ui">Vedi le squadre</a>
                <br>
                <br>
                <br>
                <div sec:authorize="hasAuthority('ADMIN')">
                    <a  class="btn btn-dark" href="/users">Gestisci users</a>
                </div>
            </div>
        </div>
    </div>

</body>
</html>