<div th:fragment="navbar" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity">
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/images/ball-football.png" width="30" height="24" class="d-inline-block align-text-top">
                ProgettoSIW2024
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse mb-2 mb-lg-0" id="navbarText">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/squadra/get-all-squadra-ui">Squadre</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/giocatori">Giocatori</a>
                    </li>
                    <li class="nav-item">
                        <a sec:authorize="hasAuthority('ADMIN')" class="nav-link disabled">Admin</a>
                        <a sec:authorize="hasAuthority('PRESIDENTE')" class="nav-link disabled">Presidente</a>
                        <a sec:authorize="hasAuthority('DEFAULT')" class="nav-link disabled">User</a>
                        <a sec:authorize="!isAuthenticated()" class="nav-link disabled">Casual User</a>
                    </li>
                </ul>
                <span class="navbar-text">
                  <span sec:authorize="isAuthenticated()">
                      <span sec:authentication="name"></span>
                      <a class="btn btn-primary" type="button" href="/logout">Logout</a>
                  </span>
                  <span sec:authorize="!isAuthenticated()">
                    <span class="d-grid gap-2 d-md-flex justify-content-md-end">
                      <a class="btn btn-primary me-md-2" type="button" href="/register">Register</a>
                      <a class="btn btn-primary" type="button" href="/login">Login</a>
                    </span>
                  </span>
              </span>
            </div>
        </div>
    </nav>
</div>